// colors

$dark: #403f3d;
$light: #e1d4c9;
$accent: #b0907a;
$body: #e1d4c9;
$container: #665f55;
$backdrop: #403f3dcc;
$border_light: #c1b6ad;
$border_dark: #665f55;

// typography
@mixin heading_1 {
  font-family: "Inter";
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
@mixin heading_1_accent {
  font-family: "Inter";
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  font-style: italic;
}
@mixin heading_2 {
  font-family: "Inter";
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
@mixin heading_2_accent {
  font-family: "Inter";
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  font-style: italic;
}
@mixin heading_3 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
@mixin medium {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
@mixin caption {
  font-family: "Inter";
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}
@mixin link_button {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
@mixin burger_link {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

@mixin mobile_heading_1_accent {
  font-family: "Inter";
  font-size: 42px;
  font-weight: 600;
  line-height: 48.3px;
}
@mixin mobile_heading_1_accent_italic {
  font-family: "Inter";
  font-size: 42px;
  font-weight: 600;
  line-height: 48.3px;
  font-style: italic;
}

@mixin link_animation_dark {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $dark;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
  }
  &:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
}

@mixin link_animation_light {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $light;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
  }
  &:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
}
