@import "./common.scss";

// start menu
.menu_title {
  @include heading_2();
  color: $dark;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.menu_title_italic {
  @include heading_2_accent();
  color: $accent;
}
.menu_coffee {
  // text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
}
@media (max-width: 1439px) {
  .menu_title {
    width: auto;
    margin: 0px 40px;
  }
}
@media (max-width: 767px) {
  .menu_title {
    @include mobile_heading_2_accent();
  }
  .menu_title_italic {
    @include mobile_heading_2_accent_italic();
  }
}
// end menu

// start tabs
.tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 40px 0px;
}
.tab {
  border-radius: 100px;
  background: $light;
  border: 1px $border_light solid;
  display: flex;
  position: relative;
  .circle_icon {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background: $border_light;
    margin: 8px;
    .icon_in_circle {
      padding: 7px 7px 7px 7px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .tab_name {
    @include link_button();
    margin: 11px 16px 11px 0px;
    color: $dark;
  }
}
.tab:hover,
.active {
  // transition: 1s;
  background: $container;
  border: none;
  border: 1px $container solid;
  .circle_icon {
    background: $light;
  }
  .tab_name {
    color: $light;
  }
}
.coffee,
.tea,
.dessert:hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .tabs {
    gap: 8px;
    margin: 40px 16px;
  }
}
// end tabs

// start cards
.overflow {
  overflow: hidden;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 0px 40px;
}
.card {
  width: 310px;
  height: 506px;
  border: 1px $border_light solid;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  &:hover {
    .card_image {
      transform: scale(1);
    }
  }
}
.card_image_wrapper {
  width: 308px;
  height: 308px;
  border-radius: 40px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.card_image {
  transition: 0.5s;
  width: 310px;
  height: 310px;
  transform: scale(1.1);
}
.card_content {
  @include heading_3();
  box-sizing: border-box;
  height: 196px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: $dark;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content_coffee_description {
  @include medium();
  color: $dark;
  margin-top: 12px;
}
.content_coffee_price {
  @include heading_3();
  color: $dark;
  margin: auto auto 0 0;
}
@media (max-width: 1439px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 14px;
    .visible_button {
      grid-column: span 2;
    }
  }
}
@media (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 0px 16px 40px;
    padding: 0 19px;
  }
}
// end cards

// START modal_windows
.modal_windows {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: fixed;
  // // visibility: hidden;
  // transition: 0.3s;
}

// .visible {
//   display: flex;
//   position: fixed;
//   opacity: 1;
// }

.wrapper_modal_window {
  display: flex;
  padding: 16px;
  box-sizing: border-box;
  width: 800px;
  background: $body;
  border-radius: 40px;
  z-index: 2;
}

.window_coffee_img {
  width: 310px;
  height: 310px;
  border-radius: 40px;
}
.window_content_wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.window_name {
  @include heading_3();
  color: $dark;
  padding-bottom: 12px;
}
.window_description {
  @include medium();
  padding-bottom: 20px;
}
// start "size"
.legend {
  @include medium();
  margin-bottom: 8px;
}
.button_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
  .label {
    @include link_button();
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 7px;
    outline: 1px $border_light solid;
    border-radius: 100px;
    .button_input {
      display: none;
    }
    .button_icon_circle {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 100px;
      background: $border_light;
      .button_icon {
        display: inline-block;
        color: $dark;
        vertical-align: text-top;
        margin: 0 auto;
      }
    }
    .button_value {
      @include link_button();
      color: $dark;
      display: inline-block;
      color: $dark;
      padding: 0px 9px 0px 8px;
    }
  }
}
// end "size"
.total {
  @include heading_3();
  color: $dark;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.warning {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: flex-start;
  padding: 12px 0;
  margin-bottom: 20px;
  border-top: 1px $border_light solid;
}
.warning_img_wrapper {
  width: 16px;
  height: 16px;
}
.warning_content {
  @include caption();
  color: $dark;
}
.button_close {
  @include link_button();
  color: $dark;
  padding: 10px 0;
  border: 1px $dark solid;
  border-radius: 100px;
  background: $body;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $dark;
  opacity: 80%;
  z-index: 1;
}

.label:hover,
.label.active {
  cursor: pointer;
  background: $container;
  outline: 1px $container solid;
  border-radius: 100px;
  .button_icon_circle {
    background: $light;
  }
  .button_value {
    color: $light;
  }
}

@media (max-width: 1439px) {
  .wrapper_modal_window {
    width: 688px;
  }
}
@media (max-width: 767px) {
  .wrapper_modal_window {
    width: 342px;
  }
  .window_coffee_img {
    display: none;
  }
}

// END modal_windows

// START button_refresh
.button_refresh {
  display: none;
}
.visible_button {
  display: flex;
  justify-content: center;
  // padding-top: 40px;
  grid-column: span 4;
  height: 60px;
}
// END button_refresh
