@import "./common.scss";

html {
  width: 100%;
  display: block;
  margin: auto;
}
body {
  background: $light;
  max-width: 1440px;
  scroll-behavior: smooth;
  //   border: 1px solid $dark;
}

// HEADER
.header {
  @include medium();
  color: $dark;
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.header_logo_link {
  display: block;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header_link {
  @include link_button();
  @include link_animation_dark();
  color: $dark;
  //   margin-right: 40px;
}
.header_link_menu {
  @include link_button();
  @include link_animation_dark();
  transition: 1s;
  color: $dark;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  &:hover {
    cursor: pointer;
  }
}
.button_icon_burger {
  display: flex;
  width: 44px;
  height: 44px;
  border: 1px solid $dark;
  border-radius: 100px;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
  position: absolute;
  right: 40px;
  opacity: 0;
}
.burger_line {
  display: block;
  width: 16px;
  border: 1px solid $dark;
  border-start-start-radius: 100px;
  border-end-start-radius: 100px;
  border-start-end-radius: 100px;
  border-end-end-radius: 100px;
}

@media (max-width: 768px) {
  .header_nav,
  .header_menu {
    transition: 0.3s;
    // opacity: 0;
    display: none;
  }
  .button_icon_burger {
    opacity: 1;
  }
}

@media (max-width: 380px) {
  .header {
    padding: 20px 16px;
  }
}

//enjoy
.enjoy {
  display: flex;
  margin: 0px 40px 100px;
  border-radius: 40px;
  max-width: 1360px;
  max-height: 644px;
  background-image: url(/src/img/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
  height: 644px;
  padding: 0;
}
.enjoy_content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 530px;
  gap: 40px;
  margin: 100px;
}
.offer_title {
  @include heading_1();
  color: $light;
}
.offer_title_italic {
  @include heading_1_accent();
  color: $accent;
}
.offer_text {
  @include medium();
  color: $light;
}
.enjoy_button {
  @include link_button();
  width: 200px;
  height: 64px;
  color: $dark;
  background: $light;
  border-radius: 100px;
  .enjoy_button_content {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    .button_menu_icon {
      transition: 0.5s;
      opacity: 0;
      width: 0;
      padding-left: 0px;
    }
    &:hover {
      cursor: pointer;
      .button_menu_icon {
        opacity: 1;
        width: 20px;
        padding-left: 8px;
      }
    }
  }
}

@media (max-width: 1439px) {
  .enjoy_content {
    margin: 100px 60px;
    // flex: 1 0 auto;
  }
  .enjoy_button .enjoy_button_content .button_menu_icon {
    opacity: 1;
    width: 20px;
    padding-left: 8px;
  }
}

@media (max-width: 767px) {
  .offer_title {
    @include mobile_heading_1_accent();
  }
  .offer_title_italic {
    @include mobile_heading_1_accent_italic();
  }
  .enjoy {
    align-items: center;
    margin: 0px 16px 100px;
    height: 544px;
  }
  .enjoy_content {
    margin: 0 16px;
    width: auto;
    // margin: 60px 16px;
  }
  .enjoy_button .enjoy_button_content .button_menu_icon {
    opacity: 1;
    width: 20px;
    padding-left: 8px;
  }
}

// MAIN

// start section favorites_coffee
.favorites_coffee {
  margin: 0px 40px 100px;
}
.favorite_coffee_text {
  @include heading_2();
  color: $dark;
  text-align: center;
  margin-bottom: 40px;
}
.favorite_coffee_text_italic {
  @include heading_2_accent();
  color: $accent;
  white-space: pre;
}
.picture_slider {
  width: 100%;
  height: auto;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  max-width: 480px;
  margin-top: 20px;
}
.drink_name {
  @include heading_3();
  color: $dark;
}
.coffee_description {
  @include medium();
  line-height: 24px;
  color: $dark;
  text-align: center;
}
.price {
  @include heading_3();
  color: $dark;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_arrow {
  box-sizing: border-box;
  padding: 290px 40px 290px 4px;
}
@media (max-width: 1439px) {
}
@media (max-width: 767px) {
  .favorite_coffee_text {
    @include mobile_heading_2_accent();
  }
  .favorite_coffee_text_italic {
    @include mobile_heading_2_accent_italic();
  }
  .favorites_coffee {
    margin: 0px 16px 100px;
  }
}
// end section favorites_coffee

// start section enjoy
// arrow right
.circle_arrow_right {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 1px $border_dark solid;
  position: relative;
  transition: 0.5s;
  .arrow_right {
    // стрелка
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    opacity: 1;
    transition: 0.5s;
  }
  .arrow_right_hover {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    opacity: 0;
    transition: 0.5s;
  }
  &:hover {
    background: $border_dark;
    cursor: pointer;
    .arrow_right {
      opacity: 0;
    }
    .arrow_right_hover {
      opacity: 1;
    }
  }
}
// arrow left
.circle_arrow_left {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 1px $border_dark solid;
  position: relative;
  transition: 0.5s;
  .arrow_left {
    // стрелка
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    opacity: 1;
    transition: 0.5s;
  }
  .arrow_left_hover {
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    opacity: 0;
    transition: 0.5s;
  }
  &:hover {
    background: $border_dark;
    cursor: pointer;
    .arrow_left {
      opacity: 0;
    }
    .arrow_left_hover {
      opacity: 1;
    }
  }
}
.controls {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 40px;
}
.control_1,
.control_2,
.control_3 {
  width: 40px;
  height: 4px;
  background: $container;
  border-radius: 100px;
  box-sizing: border-box;
  margin-right: 12px;
}
.control_3 {
  margin-right: 0;
}

@media (max-width: 767px) {
  .circle_arrow_left,
  .circle_arrow_right {
    display: none;
  }
}
// end section enjoy

// start section about
.about {
  margin: 0px 40px 100px;
}
.text_description_about {
  @include heading_2();
  color: $dark;
  padding-bottom: 40px;
}
.text_description_about_italic {
  @include heading_2_accent();
  color: $accent;
}
.images_about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  gap: 40px;
  height: 1060px;
}
.image_about_wrapper_big {
  border-radius: 20px;
  overflow: hidden;
  height: 590px;
}
.image_about_wrapper_small {
  border-radius: 20px;
  overflow: hidden;
  height: 430px;
}
.image {
  transform: scale(1.1);
  transition: 0.5s;
  &:hover {
    transform: scale(1);
  }
}

@media (max-width: 1439px) {
  .image_one,
  .image_four {
    object-fit: contain;
    width: 100%;
  }
  .image_about_wrapper_big {
    width: 100%;
    height: 590px;
  }
  .images_about {
    gap: 40px;
    height: auto;
  }
  .image_about_wrapper_small {
    display: none;
  }
}

@media (max-width: 767px) {
  .text_description_about {
    @include mobile_heading_2_accent();
  }
  .text_description_about_italic {
    @include mobile_heading_2_accent_italic();
  }
  .about {
    margin: 0px 16px 100px;
  }
  .image_one,
  .image_four {
    object-fit: cover;
    height: 100%;
  }
}
// end section about

// start section mobile_app
.mobile_app {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  margin: 0px 40px 100px;
}
.mobile_app_offer {
  // width: 630px;
  // height: 342px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.title_offer {
  @include heading_2();
  color: $dark;
}
.title_offer_italic {
  @include heading_2_accent();
  color: $accent;
  white-space: pre;
}
.text_offer {
  @include medium();
  color: $dark;
}
.button_appStore,
.button_google {
  color: $dark;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  border: 1px solid $container;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-right: 20px;
  &:hover {
    color: $light;
    background: $border_dark;
    .text_button_appStore,
    .title_button_appStore,
    .text_button_google,
    .title_button_google {
      color: $light;
    }
    .icon_button_appStore path,
    .icon_button_google path {
      fill: $light;
    }
  }
}
.text_button_appStore,
.text_button_google {
  @include caption();
  color: $dark;
  padding: 12px, 20px, 12px, 20px;
  text-align: center;
}
.title_button_appStore,
.title_button_google {
  @include link_button();
  color: $dark;
  text-align: center;
  padding-top: 2px;
}
.icon_button_appStore,
.icon_button_google {
  width: 36px;
  height: 36px;
  padding: 14px 8px 14px 20px;
}
.button_text {
  padding-top: 12px;
  padding-bottom: 12px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1439px) {
  .mobile_app {
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }
}
@media (max-width: 767px) {
  .mobile_app_screens {
    width: 100%;
  }
  .title_offer {
    @include mobile_heading_2_accent();
  }
  .title_offer_italic {
    @include mobile_heading_2_accent_italic();
  }
  .mobile_app_offer {
    width: 100%;
    height: 100%;
  }
  .buttons {
    gap: 20px;
  }
  .mobile_app {
    margin: 0px 16px 100px;
  }
}
// end section mobile_app

// start section footer
.contacts {
  background: $container;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 100px 100px;
  margin: 0px 40px 40px;
}
.left_side_contacts {
  flex: 1 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.right_side_contacts {
  flex: 1 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.slogan {
  @include heading_2();
  color: $light;
  padding-bottom: 40px;
}
.slogan_italic {
  @include heading_2_accent();
  color: $accent;
}
.icons_footer {
  display: flex;
  gap: 12px;
}
.button_twitter,
.button_instagram,
.button_facebook {
  height: 60px;
  width: 60px;
  color: $light;
  border-radius: 100px;
  border: 1px solid $light;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  &:hover {
    color: $dark;
    background-color: $light;
  }
}
.title_contacts {
  @include heading_3();
  color: $light;
}
.contacts_info {
  @include link_button();
  color: $light;
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.address,
.telephone,
.working_hours {
  display: flex;
}
.telephone,
.address {
  @include link_animation_light();
}
.map,
.phone,
.hours {
  width: 20px;
  height: 20px;
  padding: 0 8px 4px 0;
}

@media (max-width: 1439px) {
  .contacts {
    padding: 100px 60px;
  }
  .contacts {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .slogan {
    @include mobile_heading_2_accent();
  }
  .slogan_italic {
    @include mobile_heading_2_accent_italic();
  }
  .contacts {
    margin: 0 16px 40px;
    padding: 60px 16px;
    gap: 40px;
  }
}

// end section footer
